
body {
    margin: 0;
    background: #b15c5c;
}

.topnav {
    overflow: hidden;
    background-color: #ff0000;
}

.topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.topnav a:hover {
    background-color: #ddd;
    color: black;
}

.topnav a:active {
    background-color: #62ff00;
    color: white;
}
.TableOfPosts td {
    border-style: solid;
}

.home .HomeButton, .profile .ProfileButton, .login .LoginButton, .about .AboutButton {
    background-color: #EAB126;
}
