
body {
    margin-top: 50px;
    background: palevioletred;
}

.TableOfPosts td {
    border-style: solid;
    border-color: black;
}
.topNav {
    overflow: hidden;
    float: left;
    background-color: lightpink;
    border-style: hidden;
    position: fixed;
    top: 0px;
}

.topNav a {
    border-style: solid;
    border-color: white;
    float: top;
    color: white;
    text-align: center;
    padding: 14px 50px;
    text-decoration: none;
    font-size: 17px;
}

.topNav a:hover {
    background-color: blue;
    border-color: black;
    color: black;
}

.topNav a:active {
    background-color: lawngreen;
    color: white;
}

.TableOfPosts td {

}

.home .HomeButton, .profile .ProfileButton, .login .LoginButton, .about .AboutButton {
    background-color: #EAB126;
}
