
body {
    margin: 0;
    background: palevioletred;
}

.TableOfPosts td {
    border-style: hidden;
    border-color: lightgreen;
}
.topnav {
    overflow: hidden;
    background-color: lightpink;
    border-style: hidden;
}

.topnav a {
    border-style: solid;
    border-color: white;
    float: left;
    color: white;
    text-align: center;
    padding: 14px 50px;
    text-decoration: none;
    font-size: 17px;
}

.topnav a:hover {
    background-color: blue;
    border-color: black;
    color: black;
}

.topnav a:active {
    background-color: lawngreen;
    color: white;
}

.TableOfPosts td {

}

.home .HomeButton, .profile .ProfileButton, .login .LoginButton, .about .AboutButton {
    background-color: #EAB126;
}
